/** 
* ==========================================================================
*  styles.css-- Global styles for the MyRWD website
* ==========================================================================
*
* Created November 12th, 2014
*
* Authored by Charles Bjorklund
*
*/

/*----- Basic Styling ----- */
body{
  background-color: lightblue;
}
#page-wrapper{
  background-color: white;
  width: 768px;
  margin: auto;
}
#content{
  background-color: #f7f2da;
  padding: 0em, 1em;
  margin-bottom: 10px;
}
nav{
  background-color: grey;
  padding: none;
  margin: none;
}
nav ul{
  padding: 3px 10px;
  list-style-type: none;
}